@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
  background-color: #FEAFC3;
}

p, ul, ol {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
  width: 1170px;
  margin: 0 auto;
}
/*Временный фон для читаемости текста*/
.promo-left,
.promo-right,
.advantage,
.blog,
.subscribe,
.order-delivery,
.main-contacts {
  box-shadow: inset 0 0 0 200vw rgba(255,255,255,0.7)
}

/*кнопки*/
.button-send {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FCFCFC;
  background-color: #FF2F64;
  border-radius: 26px;
  display: inline-block;
  width: 152px;
  padding: 12px 32px;
}

/*header index*/
.header-container {
  display: flex;
  width: 1170px;
  margin: 24px auto;
  align-items: center;
  line-height: 20px;
}

.logo {
  width: 137px;
}

.logo-img {
  display: block;
}

.navigation {
  width: 598px;
  margin-left: 16px;
}

.user-navigation-container {
  width: 419px;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.navigation-link {
  padding: 8px 8px;
  margin: 0 8px;
  display: block;
}

.page-header a {
  color: #2D3440;
  text-decoration: none;
}

.page-header ul {
  margin: 0;
  padding: 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.header-phone {
  font-weight: 700;
  display: block;

}
.user-navigation {
  flex-grow: 1;
}

.user-navigation-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.user-navigation-link {
  display: block;
  /*временные рамки*/
  outline: 1px solid red;
  outline-offset: -1px;
}
.user-navigation-link-login {
  font-size: 14px;
  display: block;
  padding: 6px 6px 6px 40px;
  min-width: 62px;
}

.user-navigation-link-search {
  padding: 9px 15px;
  min-width: 18px;
  min-height: 18px;
}
/*Slider*/
.main-slider {
  width: 1170px;
  margin: 0 auto;
}

.slider-image-list {
  list-style-type: none;
}

.slider-bottom {
  width: 1170px;
  margin: 0 auto 80px auto;
}

.slider-pagination {
  list-style-type: none;
}

.slider-social-list {
  list-style-type: none;
}

.slider-description-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.slider-description-text {
  font-size: 18px;
  line-height: 24px;
}

.slider-link{
  text-decoration: none;
}

.slider-link-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #2D3440;
  background: #FCFCFC;
  border-radius: 26px;
}

/*баннеры*/
.promo-container {
  width: 1170px;
  margin: 0 auto 80px auto;
  display: flex;
  justify-content: space-between;

}

.promo-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  width: 443px;
  margin: 0 auto 56px auto;

}

.promo-banner {
  background-color: #FF7799;
  width: 570px;
  border-radius: 16px;
  min-height: 268px;
  display: flex;
  flex-direction: column;


}

.promo-banner-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  padding-top: 40px;
  padding-left: 40px;
}

.promo-banner-text {
  margin: 0;
  padding-top: 16px;
  padding-left: 40px;
  width: 321px;
}

.promo-offer-link-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #2D3440;
  background: #FCFCFC;
  border-radius: 26px;
  margin-top: auto;
  margin-left: 40px;
  margin-bottom: 40px;
  width: 112px;
  padding: 12px 32px;
}

.promo a {
  color: #2D3440;
  text-decoration: none;
}
.promo-left {
  background-image: url("../img/raspberries-banner.png");
  background-repeat: no-repeat;
}

.promo-right {
  background-image: url("../img/marshmallow-banner.png");
  background-repeat: no-repeat;
}

/*популярные товары*/
.popular {
  width: 1170px;
  margin: 0 auto;
}

.popular-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.popular-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  margin: 0 auto 56px auto;
  width: 527px;
}

.popular-item {
  background-color: #FCFCFC;
  width: 270px;
}

.popular-item-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.popular-item-description {
  text-align: center;
  color: #565C66;
}

.popular-item-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.popular-item a {
  text-decoration: none;
  color: #2D3440;
}

/*приемущества*/
.advantage {
  background: #E0FFFF url("../img/wafer-bg.png") repeat;
  width: 1170px;
  margin: 0 auto 80px auto;
}

.advantage-title {
  margin: 0 auto 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  width: 995px;
  padding-top: 56px;
}

.advantage-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantage-description {
  color: #565C66;
}

.advantage-item {
  width: 440px;
  margin-left: 104px;
  margin-right: 40px;
}

.advantage-item:nth-child(1) {
  margin-top: 56px;
  margin-bottom: 40px;
}

.advantage-item:nth-child(2) {
  margin-top: 56px;
  margin-bottom: 40px;
}

.advantage-item:nth-child(3) {
  margin-bottom: 56px;
}

.advantage-item:nth-child(4) {
  margin-bottom: 56px;
}

/*Блог*/
.blog {
  background: #FFFFFF url("../img/ice-cream-in-cup.jpg") no-repeat;
  width: 570px;
}

.blog-new {
  line-height: 20px;
  color: #565C66;
  margin-top: 33px;
  margin-left: 32px;
}

.blog-item-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
  text-decoration: none;
  margin-top: 12px;
  margin-left: 32px;
  display: block;
  width: 303px;
}

/*Подписка на рассылку*/
.subscribe {
  background: #ECECEC url("../img/postal-background.png") repeat;
  width: 570px;
}

.subscribe-description {
  color: #565C66;
  display: block;
  width: 506px;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 32px;
}

.subscribe-form input {
  line-height: 48px;
  width: 332px;
  background-color: #FFFFFF;
  margin-left: 32px;
  margin-top: 42px;
  margin-bottom: 32px;
}

.button-send-subscribe {
  margin-left: 16px;

}

.blog-subscribe-container {
  width: 1170px;
  margin: 0 auto 76px auto;
  display: flex;
  justify-content: space-between;
}
/*Оформление-заказа*/
.order-delivery {
  background: #ECECEC url("../img/ice-cream-and-leaf.jpg") no-repeat;
  width: 1170px;
  margin: 0 auto 80px auto;
}

.delivery-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  padding-top: 167px;
  padding-left: 100px;
  width: 356px;
  display: block;
}

.delivery-description {
  color: #565C66;
  display: block;
  width: 371px;
  margin-left: 100px;
  margin-top: 24px;
}

.order-description {
  color: #565C66;
}

.order-form input {
  line-height: 48px;
  background-color: #FFFFFF;
}

.order-form-date,
.order-form-phone,
.order-form-address {
  font-weight: 700;
  line-height: 20px;
}

/*контакная информация*/
.main-contacts {
  background: #ECECEC url("../img/wafer-cup-holder.jpg") no-repeat;
  width: 1170px;
  margin: 0 auto;
}

.contact-container {
  display: block;
  width: 343px;
  padding-top: 64px;
  padding-left: 64px;
  padding-bottom: 64px;
}

.main-contacts-address-header {
  color: #565C66;
  display: block;
  width: 179px;
  margin-top: 40px;
  margin-left: 40px;
}

.main-contacts-address-text {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: block;
  width: 263px;
  margin-top: 12px;
  margin-left: 40px;
  margin-right: 40px;
}

.main-contacts-phone-header {
  color: #565C66;
  display: block;
  width: 203px;
  margin-top: 24px;
  margin-left: 40px;
  margin-right: 100px;
}

.main-contacts-phone-number {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #2D3440;
  display: block;
  width: 225px;
  margin-top: 12px;
  margin-left: 40px;
  margin-right: 78px;
}

.main-contacts-worktime {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #565C66;
  display: block;
  width: 160px;
  margin-left: 40px;
}

.feedback-link{
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: #FCFCFC;
  background-color: #FF2F64;
  border-radius: 26px;
  width: 186px;
  display: block;
  padding: 13px 32px;
  margin-top: 32px;
  margin-left: 40px;
}

/*footer*/
.footer-container {
  width: 1170px;
  min-height: 153px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.page-footer {
  margin: 0;
  padding: 0;
}

.footer-social {
  width: 104px;
  margin-left: 4px;
  margin-top: 48px;
}

.footer-info {
  width: 356px;
  margin-left: 299px;
}

.copyright {
  width: 193px;
  margin-right: 14px;
  margin-top: 48px;
}
.footer-info-list {
  list-style: none;
  padding: 0;
  margin-top: 48px;
}

.footer-social-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.footer-social-item {
  min-height: 24px;
  min-width: 24px;
  margin-right: 16px;
  margin-bottom: 5px;
  margin-left: 0;
  /*временные рамки*/
  outline: 1px solid red;
  outline-offset: -1px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-info-item .footer-info-link-producer {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.footer-info-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #2D3440;
 }

.copyright-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.copyright-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #2D3440;
  text-decoration: none;
}

/*КАТАЛОГ*/
/*header inner*/
.inner-header a {
  color: #2D3440;
  line-height: 20px;
}

.user-navigation-link-cart {
  font-size: 14px;
  display: block;
  padding: 6px 6px 6px 40px;
  min-height: 20px;
  min-width: 59px;
}

/*breadcrumps*/
.breadcrumps-link {
  font-weight: 700;
  font-size: 14px;
  color: #2D3440;
  margin-right: 28px;
}

.breadcrumps {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-top: 32px;
  line-height: 20px;
}

.inner-header-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

/*фильтр-сортировка*/

.catalog-filter {
  width: 807px;
}

.catalog-filter-title {
  font-size: 14px;
  line-height: 20px;
}

.sorting {
  font-size: 14px;
  line-height: 20px;
}

.catalog-filter-fat-item {
  font-size: 14px;
  line-height: 20px;
}

.catalog-filter-fat-list {
  list-style-type: none;
}

.catalog-filter-filler-item {
  font-size: 14px;
  line-height: 20px;
}

.catalog-filter-filler-list {
  list-style-type: none;
}

.button-filter {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  border-radius: 20px;
}

/*товары*/
.catalog-product-card {
  background-color: #FCFCFC;
  width: 270px;
}

.catalog-product-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.catalog-product-description {
  text-align: center;
  color: #565C66;
}

.catalog-product-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-product-card a {
  text-decoration: none;
  color: #2D3440;
}

/*pagination*/
.show-more {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color: #FCFCFC;
  border-radius: 26px;
  width: 180px;
  padding: 12px 32px;
  border: none;
}

.show-more-pagination {
  width: 1170px;
  margin: 0 auto 40px auto;
  display: flex;
}

.show-more-button {
  margin: 41px 0 41px 494px;
}

.catalog-pagination-item {
  list-style: none;
}

.catalog-pagination-list {
  list-style-type: none;
  display: flex;
  align-self: center;
  margin-left: auto;
}

.catalog-pagination-item a {
  text-decoration: none;
  font-size: 16px;
  color: #2D3440;
  margin-left: 16px;
}

.catalog-pagination-link-current {
  background: #FCFCFC;
}

