@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #2D3440;
  background-color: #FEAFC3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
  width: 1170px;
  margin: 0 auto;
}

/*кнопки*/
.button-send {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FCFCFC;
  background-color: #FF2F64;
  border-radius: 26px;
  padding: 14px 34px;
  border: none;
  box-shadow: inset 0 0 0 4px rgba(252, 252, 252, 0.4),
              0 4px 12px rgba(45, 52, 64, 0.1);
  box-sizing: border-box;
}

.button-send:hover {
  color: #2D3440;
  background: #FCFCFC;
  box-shadow: inset 0 0 0 4px #FF2F64;
}

.button-send:focus-visible {
  box-shadow: inset 0 0 0 2px #2D3440;
}

/*header index*/
.header-container {
  display: flex;
  width: 1170px;
  margin: 24px auto;
  align-items: center;
  line-height: 20px;
}

.logo {
  width: 137px;
}

.logo-img {
  display: block;
}

.navigation {
  width: 598px;
  margin-left: 16px;
}

.user-navigation-container {
  width: 419px;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.navigation-link {
  padding: 8px 16px;
  display: block;
  color: #2D3440;
}

.navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 26px;
  color: #2D3440;
}

.navigation-link:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  box-shadow: inset 0 0 0 2px #2D3440;
  border-radius: 26px;
  box-sizing: border-box;
  color: #2D3440;
}

.navigation-link:active {
  background-color: rgba(252, 252, 252, 1);
  box-shadow: none;
  color: #2D3440;
}

.navigation-link-current {
  background-color: #FF4A78;
  color: #FCFCFC;
  border-radius: 26px;
}

.page-header a {
  text-decoration: none;
}

.page-header ul {
  margin: 0;
  padding: 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.header-phone {
  font-weight: 700;
  display: block;
  color: #2D3440;

}
.user-navigation {
  flex-grow: 1;
}

.user-navigation-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.user-navigation-link {
  display: block;
  color: #2D3440;
}

.user-navigation-item {
  position: relative;
}
.user-navigation-link-cart,
.user-navigation-link-login {
  font-size: 14px;
  display: block;
  padding: 6px 18px 6px 40px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 26px;
  margin-right: 16px;
}

.user-navigation-link.user-navigation-link-cart {
  margin-right: 0;
}


.user-navigation-link-search {
  font-size: 14px;
  display: block;
  padding: 16px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 26px;
  margin-right: 16px;
}


.user-navigation-link-search:hover,
.user-navigation-link-login:hover,
.user-navigation-link-cart:hover {
  background-color: rgba(252, 252, 252, 0.5);
}
.user-navigation-link-login:focus-visible,
.user-navigation-link-search:focus-visible,
.user-navigation-link-cart:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  box-shadow: inset 0 0 0 2px #2D3440;
}
.user-navigation-link-login:active,
.user-navigation-link-search:active,
.user-navigation-link-cart:active {
  background-color: rgba(252, 252, 252, 1);
  border: none;
}


.user-navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #2D3440;
}

.user-navigation-link-login .user-navigation-icon {
  fill: #2D3440;
  margin-left: 16px;
}

.user-navigation-link-cart .user-navigation-icon {
  fill: #2D3440;
  margin-left: 16px;
}

.user-navigation-link-search .user-navigation-icon {
  fill: #2D3440;
  margin-left: 8px;
}


/*Slider*/
.main-slider {
  width: 1170px;
  margin: 0 auto;
}

.slider-image-list {
  list-style-type: none;
}

.slider-bottom {
  width: 1170px;
  margin: 0 auto 80px;
}

.slider-pagination {
  list-style-type: none;
}

.slider-social-list {
  list-style-type: none;
}

.slider-description-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.slider-description-text {
  font-size: 18px;
  line-height: 24px;
}

.slider-link{
  text-decoration: none;
}

.slider-link-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #2D3440;
  background: #FCFCFC;
  border-radius: 26px;
}

/*баннеры*/
.promo-container {
  width: 1170px;
  margin: 0 auto 80px;
  display: flex;
  justify-content: space-between;

}

.promo-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  width: 443px;
  margin: 0 auto 56px;

}

.promo-banner {
  background-color: #FF7799;
  width: 570px;
  border-radius: 16px;
  min-height: 268px;
  display: flex;
  flex-direction: column;


}

.promo-banner-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  padding-top: 40px;
  padding-left: 40px;
}

.promo-banner-text {
  margin: 0;
  padding-top: 16px;
  padding-left: 40px;
  width: 321px;
}

.promo-offer-link-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #2D3440;
  background-color: #FCFCFC;
  border-radius: 26px;
  margin-top: auto;
  margin-left: 40px;
  margin-bottom: 40px;
  padding: 12px 32px;
  box-sizing: border-box;
  align-self: flex-start;
  box-shadow: 0 0 0 4px rgba(252, 252, 252, 0.4),
              0 4px 12px rgba(45, 52, 64, 0.1);
  display: block;
}

.promo-offer-link-button:hover {
  background: rgba(252, 252, 252, 0.4);
  box-shadow: 0 0 4px #FCFCFC,
              0 4px 15px rgba(133, 133, 133, 0.15);
}

.promo-offer-link-button:focus-visible {
  box-shadow: 0 0 0 2px #2D3440,
              0 4px 12px rgba(45, 52, 64, 0.1);
}

.promo-offer-link-button:disabled {
  color: #B9B9B9;
  background: #E7E7E7;
}

.promo a {
  color: #2D3440;
  text-decoration: none;
}
.promo-left {
  background-image: url("../img/raspberries-banner.png");
  background-repeat: no-repeat;
  background-position: top 28px right 15px;
}

.promo-right {
  background-image: url("../img/marshmallow-banner.png");
  background-repeat: no-repeat;
  background-position: top 19px right 7px;
}

/*item-list*/
.popular,
.catalog {
  width: 1170px;
  margin: 0 auto;
}

.popular-list {
  list-style-type: none;
  margin-bottom: 80px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  column-gap: 30px;
}

.catalog-product-container {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  column-gap: 30px;
  row-gap: 40px;
  margin-bottom: 16px;
}

/*item-cards*/
.popular-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  margin: 0 auto 56px;
  width: 527px;
}

.popular-item-card,
.catalog-product-card {
  width: 270px;
  display: grid;
  grid-template-columns: 40px 190px 40px;
  grid-template-rows: 168px min-content min-content auto;
  position: relative;
  z-index: 1;
}

.popular-item-card::before,
.catalog-product-card::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #FCFCFC;
  width: 270px;
  height: 281px;
  z-index: 0;
  border-radius: 8px;
  top: 51px;
}

.popular-item-image,
.catalog-product-img {
  object-fit: fill;
  border-radius: 50%;
  display: block;
  filter: drop-shadow(0px 4px 12px rgba(45, 52, 64, 0.1));
}

.popular-item-cart-link,
.catalog-product-link{
  grid-column: 1 / -1;
  justify-self: center;
  z-index: 1;
}

.popular-item-cart-button {
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: none;
  background: none;
}

.cart-item-icon {
  fill: #FCFCFC;
  position: relative;
  z-index: 1;
  padding: 8px;
}

.cart-item-icon:hover {
  fill: #2D3440;
}

.cart-item-icon:focus-visible {
  fill: #FCFCFC ;
}

.popular-item-cart-button {
  background-color: #FF2F64;
  border-radius: 50%;
}

.popular-item-cart-button:hover {
  box-shadow: inset 0 0 0 2px #FF2F64;
  background-color: #FCFCFC;
  border-radius: 26px;
}

.popular-item-cart-button:focus-visible {
  box-shadow: inset 0 0 0 2px #2D3440;
  background-color: #FF2F64;
  border-radius: 26px;
}

.popular-item-cart-button:disabled {
  background-color: #B9B9B9;
  border-radius: 26px;
}

.popular-item-title-link,
.catalog-product-title-link {
  grid-column: 2 / 3;
  margin-top: 16px;
  margin-bottom: 8px;
  text-decoration: none;
  color: #2D3440;
  z-index: 1;
}

.popular-item-description,
.catalog-product-description {
  grid-column: 2 / 3;
  text-align: center;
  color: #565C66;
  margin-bottom: 16px;
  margin-top: 0;
  z-index: 1;
}

.popular-price-cart-container,
.product-price-cart-container{
  grid-column: 2 / 3;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
 }
.popular-item-title,
.catalog-product-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin: 0;
}

.popular-item-price,
.catalog-product-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  z-index: 1;
}

.popular-item a,
.catalog-product-card a {
  text-decoration: none;
  color: #2D3440;
}

/*приемущества*/
.advantage {
  background: #E0FFFF url("../img/wafer-bg.png") repeat;
  width: 1170px;
  margin: 0 auto 80px;
  border-radius: 16px;
  position: relative;
  padding-bottom: 24px;
}

.advantage::before {
  content: "";
  display: block;
  background-color: #FCFCFC;
  width: 1122px;
  height: 422px;
  border-radius: 16px;
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 1;;
}

.advantage-title {
  margin: 0 auto;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  width: 995px;
  padding-top: 56px;
  z-index: 2;
  position: relative;
}

.advantage-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 2;
  position: relative;
}

.advantage-description {
  color: #565C66;
  margin: 0;
  padding: 0;
}

.advantage-item {
  width: 440px;
  margin-left: 104px;
  margin-right: 40px;
  position: relative;
}

.advantage-item:nth-child(1) {
  margin-top: 56px;
  margin-bottom: 40px;
  position: relative;
}

.advantage-item:nth-child(1)::before {
  content: url("../img/ico-icecream.png");
  position: absolute;
  top: 0;
  left: -60px;
}

.advantage-item:nth-child(2) {
  margin-top: 56px;
  margin-bottom: 40px;
  position: relative;
}

.advantage-item:nth-child(2)::before {
  content: url("../img/ico-cow.png");
  position: absolute;
  top: 0;
  left: -60px;
}

.advantage-item:nth-child(3) {
  margin-bottom: 56px;
}

.advantage-item:nth-child(3)::before {
  content: url("../img/ico-leaf.png");
  position: absolute;
  top: 0;
  left: -60px;
}



.advantage-item:nth-child(4) {
  margin-bottom: 56px;
}

.advantage-item:nth-child(4)::before {
  content: url("../img/ico-thermometer.png");
  position: absolute;
  top: 0;
  left: -60px;
}

/*Блог*/
.blog {
  background: #FFFFFF url("../img/ice-cream-in-cup.jpg") no-repeat;
  width: 570px;
  border-radius: 16px;
}

.blog-new {
  line-height: 20px;
  color: #565C66;
  margin-top: 33px;
  margin-left: 32px;
}

.blog-item-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2D3440;
  text-decoration: none;
  margin-top: 12px;
  margin-left: 32px;
  display: block;
  width: 303px;
}

/*Подписка на рассылку*/
.subscribe {
  background: #ECECEC url("../img/postal-background.png") repeat;
  border-radius: 16px;
  width: 570px;
  position: relative;
}

.subscribe::after {
  content: "";
  display: block;
  width: 558px;
  height: 208px;
  position: absolute;
  background: #FCFCFC;
  border-radius: 16px;
  top: 6px;
  left: 6px;
  z-index: 0;
}


.subscribe-description {
  color: #565C66;
  display: block;
  width: 506px;
  margin: 32px 32px 0;
}

.subscribe-form {
  z-index: 2;
  position: relative;
}

.subscribe-form input {
  line-height: 48px;
  width: 332px;
  background-color: #FFFFFF;
  margin-left: 32px;
  margin-top: 42px;
  margin-bottom: 32px;
  padding: 0;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  outline: 1px solid lightgray;
}

.button-send-subscribe {
  margin-left: 16px;

}

.blog-subscribe-container {
  width: 1170px;
  margin: 0 auto 76px;
  display: flex;
  justify-content: space-between;
}
/*Оформление-заказа*/
.order-delivery {
  background: #ECECEC url("../img/ice-cream-and-leaf.jpg") no-repeat;
  width: 1170px;
  margin: 0 auto 80px;
  border-radius: 16px;
}

.order-delivery {
  position: relative;
}

.delivery-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  padding-top: 167px;
  padding-left: 100px;
  width: 356px;
  display: block;
}

.delivery-description {
  color: #565C66;
  display: block;
  width: 371px;
  margin-left: 100px;
  margin-top: 24px;
  padding-bottom: 163px;
}

.order {
  position: absolute;
  top: 64px;
  right: 64px;
}

.order-description {
  color: #565C66;
  margin-left: 40px;
  margin-top: 40px;
  display: inline-block;
}

.form-container {
  height: 406px;
  width: 500px;
  background-color: #FCFCFC;
  border-radius: 8px;
}

.order-form input {
  line-height: 48px;
  background-color: #FFFFFF;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  outline: 1px solid lightgray;
}

.order-form-date,
.order-form-phone,
.order-form-address {
  font-weight: 700;
  line-height: 20px;
}

.order-form {
  display: grid;
  grid-template-columns: 117px 287px;
  column-gap: 20px;
  margin-left: 40px;
}

.order-form-field {
  display: flex;
  flex-direction: column;
}

.order-form-address {
  grid-column: 1 / -1;
}

.order-form-phone{
  margin-left: 0;
}

.button-send-order {
  grid-column: 1 / -1;
 justify-self: center;
  margin-top: 12px;
  margin-bottom: 42px;
}
/*контакная информация*/
.main-contacts {
  background: #ECECEC url("../img/wafer-cup-holder.jpg") no-repeat;
  width: 1170px;
  margin: 0 auto;
  border-radius: 16px;
  padding-top: 64px;
  padding-bottom: 64px;
}

.contact-container {
  display: block;
  width: 343px;
  margin-left: 64px;
  background-color: #FCFCFC;
  padding-bottom: 40px;
  padding-top: 40px;
  border-radius: 8px;
}

.main-contacts-address-header {
  color: #565C66;
  display: block;
  width: 179px;
  margin: 0 0 12px 0;
  padding-left: 40px;
}

.main-contacts-address-text {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: block;
  width: 263px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 24px;
}

.main-contacts-phone-header {
  color: #565C66;
  display: block;
  width: 203px;
  margin: 0 100px 12px 40px;
}

.main-contacts-phone-number {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #2D3440;
  display: block;
  width: 225px;
  margin-left: 40px;

}

.main-contacts-worktime {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #565C66;
  display: block;
  width: 160px;
  margin-left: 40px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 32px;
}

.feedback-link {
  text-decoration: none;
  margin-left: 40px;
}

/*footer*/
.footer-container {
  width: 1170px;
  min-height: 153px;
  display: flex;
  margin: 0 auto;
}

.page-footer {
  margin: 0;
  padding: 0;
}

.footer-social {
  width: 104px;
  margin-left: 4px;
  margin-top: 48px;
}
.footer-social-link {
  height: 24px;
  display: block;
  border-radius: 50%;
}

.footer-social-icon{
  fill: #FCFCFC;
  box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.2);
  border-radius: 50%;
  box-sizing: border-box;
}

.footer-social-link:hover {
  background-color: #2D3440;
}

.footer-social-link:focus-visible {
  background-color: #2D3440;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #2D3440;
}

.footer-info {
  width: 356px;
  margin-left: 299px;
  margin-top: 48px;
}

.copyright {
  width: 193px;
  margin-right: 14px;
  margin-top: 48px;
  margin-left: auto;
}

.footer-info-list {
  list-style: none;
  display: grid;
  row-gap: 8px;
  grid-template-columns: auto auto;
  margin: 0;
  padding: 0;
  line-height: 20px;
}

.footer-social-list {
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 8px;
}

.footer-social-item {
  min-height: 24px;
  min-width: 24px;
  margin-right: 16px;
  margin-bottom: 5px;
  margin-left: 0;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-info-item .footer-info-link-producer {
  font-weight: 700;
  font-size: 14px;
  color: #2D3440;
  position: relative;
}

.footer-info-link-producer::before {
  content: "";
  display: block;
  background-image: url("../img/ico-heart.svg");
  background-repeat: no-repeat;
  top: 2px;
  left: -24px;
  position: absolute;
  width: 16px;
  height: 16px;

}

.footer-info-link {
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  color: #2D3440;
  margin-left: 24px;
}

.copyright-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.copyright-link {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #2D3440;
  text-decoration: none;
}

/*КАТАЛОГ*/
/*header inner*/
.inner-header a {
  color: #2D3440;
  line-height: 20px;
}

.user-navigation-link-cart {
  font-size: 14px;
  display: block;
  padding: 6px 6px 6px 40px;
  min-height: 20px;
  min-width: 59px;
}

/*breadcrumps*/
.breadcrumps-link {
  font-weight: 700;
  font-size: 14px;
  color: #2D3440;
  margin-right: 28px;
}

.breadcrumps {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-top: 32px;
  line-height: 20px;
}

.inner-header-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

/*фильтр-сортировка*/

.catalog-filter {
  width: 807px;
}

.catalog-filter-title {
  font-size: 14px;
  line-height: 20px;
}

.sorting {
  font-size: 14px;
  line-height: 20px;
}

.catalog-filter-fat-item {
  font-size: 14px;
  line-height: 20px;
}

.catalog-filter-fat-list {
  list-style-type: none;
}

.catalog-filter-filler-item {
  font-size: 14px;
  line-height: 20px;
}

.catalog-filter-filler-list {
  list-style-type: none;
}

.button-filter {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  border-radius: 20px;
}

/*pagination*/
.show-more {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color: #FCFCFC;
  border-radius: 26px;
  width: 180px;
  padding: 12px 32px;
  border: none;
}

.show-more-pagination {
  width: 1170px;
  margin: 0 auto 40px;
  display: flex;
}

.show-more-button {
  margin: 41px 0 41px 494px;
}

.catalog-pagination-item {
  list-style: none;
}

.catalog-pagination-list {
  list-style-type: none;
  display: flex;
  align-self: center;
  margin-left: auto;
}

.catalog-pagination-item a {
  text-decoration: none;
  font-size: 16px;
  color: #2D3440;
  margin-left: 16px;
}

.catalog-pagination-link-current {
  background: #FCFCFC;
}

