@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 1366px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #2D3440;
}

.body-active-slide-1,
.body-catalog {
  background-color: #FEAFC3;
}

.body-active-slide-2 {
  background-color: #69A9FF;
}

.body-active-slide-3 {
  background-color: #FCC850;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
  width: 1170px;
  margin: 0 auto;
}

/*additional-button*/
.button-send {
  box-sizing: border-box;
  padding: 16px 36px;
  font-family: inherit;
  font-style: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FCFCFC;
  background-color: #FF2F64;
  border: none;
  border-radius: 26px;
  box-shadow: inset 0 0 0 4px rgba(252, 252, 252, 0.4),
  0 4px 12px rgba(45, 52, 64, 0.1);
  cursor: pointer;
}

.button-send:hover {
  color: #2D3440;
  background: #FCFCFC;
  box-shadow: inset 0 0 0 4px #FF2F64;
}

.button-send:focus-visible {
  box-shadow: inset 0 0 0 2px #2D3440;
  outline: none;
}

/*main-button*/
.main-button {
  box-sizing: border-box;
  padding: 12px 32px;
  font-family: inherit;
  font-style: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #2D3440;
  background-color: #FCFCFC;
  border: none;
  border-radius: 26px;
  box-shadow: 0 0 0 4px rgba(252, 252, 252, 0.4),
  0 4px 12px rgba(45, 52, 64, 0.1);
  text-decoration: none;
  cursor: pointer;
}

.main-button:hover {
  background: rgba(252, 252, 252, 0.4);
  box-shadow: 0 0 0 4px #FCFCFC,
  0 4px 15px rgba(133, 133, 133, 0.15);
}

.main-button:focus-visible {
  box-shadow: 0 0 0 2px #2D3440,
  0 4px 12px rgba(45, 52, 64, 0.1);
  outline: none;
}

.main-button:disabled {
  color: #B9B9B9;
  background: #E7E7E7;
}

/*input-field*/
.field {
  padding: 14px 16px;
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #2D3440;
  background-color: #FFFFFF;
  border: none;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px #B9B9B9;
  outline: 0;
}

.field::placeholder {
  color: #B9B9B9;
}

.field:hover {
  border: none;
  box-shadow: inset 0 0 0 1px #2D3440;
}

.field:focus-visible {
  outline: 0;
  box-shadow: inset 0 0 0 2px #2D3440;
}

/*invalid-field*/
.field-error:invalid {
  border: none;
  box-shadow: inset 0 0 0 1px #EA5454;
}

/*invalid-field on hover*/
.field-error:hover:invalid {
  border: none;
  box-shadow: inset 0 0 0 2px #EA5454;
}

.field:disabled,
.field:disabled:hover {
  background: #e7e7e7;
  border: none;
  box-shadow: inset 0 0 0 1px #B9B9B9;
}

/*header index*/
.header-container {
  display: flex;
  align-items: center;
  width: 1170px;
  margin: 24px auto;
  line-height: 20px;
}

/*main-navigation*/
.logo {
  width: 137px;
}

.logo-img {
  display: block;
}

.navigation {
  width: 568px;
  margin-left: 16px;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 8px 16px;
  color: #2D3440;
}

.navigation-link::after {
  content: "";
  position: absolute;
  bottom: -8px;
  display: block;
  width: 100%;
  height: 8px;
}

.navigation-link:hover {
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 26px;
}

.navigation-link:focus-visible {
  box-sizing: border-box;
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.5);
  box-shadow: inset 0 0 0 2px #2D3440;
  border-radius: 26px;
  outline: none;
}

.navigation-link:active {
  color: #2D3440;
  background-color: rgba(252, 252, 252, 1);
  box-shadow: none;
}

.navigation-link-current {
  color: #FCFCFC;
  background-color: #FF4A78;
  border-radius: 26px;
}

.navigation-link {
  text-decoration: none;
}

.navigation-list {
  margin: 0;
  padding: 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

/*drop-menu*/
.catalog-drop-menu {
  position: absolute;
  top: 78px;
  z-index: 1;
  display: none;
  margin: 0;
  padding: 10px 0;
  background-color: #FCFCFC;
  border-radius: 4px;
  list-style-type: none;
}

.navigation-link:hover + .catalog-drop-menu {
  display: block;
}

.catalog-drop-menu:hover,
.catalog-drop-menu:focus-within {
  display: block;
}

.catalog-drop-menu-item {
  margin: 0;
  padding: 0;
}

.catalog-drop-menu-item:first-child {
  margin-bottom: 12px;
}

.catalog-drop-menu-link:hover {
  background-color: #FFCBD8;
}

.catalog-drop-menu-link:active {
  background-color: #FF7799;
}

.catalog-drop-menu-link:focus-visible {
  color: #FCFCFC;
  background-color: #FF4A78;
  outline: none;
}

.catalog-drop-menu-link {
  display: block;
  padding: 6px 16px;
  font-size: 14px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
}

.catalog-drop-menu-list:before {
  content: "";
  position: absolute;
  top: 47px;
  right: 16px;
  left: 16px;
  display: block;
  height: 1px;
  background-color: #B9B9B9;
}

.header-phone {
  display: block;
  margin-right: 19px;
  font-weight: 700;
  color: #2D3440;
  text-decoration: none;
}

/*user-navigation*/
.user-navigation-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 439px;
  margin-left: auto;
}

.user-navigation-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.user-navigation-link {
  position: relative;
  display: block;
  color: #2D3440;
  text-decoration: none;
}

.user-navigation-link::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  display: block;
  width: 100%;
  height: 8px;
}

.user-navigation-item {
  position: relative;
}

.user-navigation-link.user-navigation-link-search::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: -15px;
  display: block;
  width: 45px;
  height: 8px;
}

.user-navigation-link-cart,
.user-navigation-link-login {
  position: relative;
  display: block;
  margin-right: 15px;
  padding: 6px 18px 6px 40px;
  font-size: 14px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 26px;
}

.user-navigation-link.user-navigation-link-cart {
  margin-right: 0;
}

.user-navigation-link-search {
  display: block;
  margin-right: 16px;
  padding: 16px;
  font-size: 14px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 26px;
}

.icon-cart-empty::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 17px;
  display: block;
  width: 18px;
  height: 18px;
  background-image: url("../img/cart-empty.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.icon-cart-full::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 17px;
  display: block;
  width: 18px;
  height: 18px;
  background-image: url("../img/cart-full.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.user-navigation-link-search:hover,
.user-navigation-link-login:hover,
.user-navigation-link-cart:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.user-navigation-link-login:focus-visible,
.user-navigation-link-search:focus-visible,
.user-navigation-link-cart:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  box-shadow: inset 0 0 0 2px #2D3440;
  outline: none;
}

.user-navigation-link-login:active,
.user-navigation-link-search:active,
.user-navigation-link-cart:active {
  background-color: rgba(252, 252, 252, 1);
  border: none;
}

.user-navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #2D3440;
}

.user-navigation-link-login .user-navigation-icon {
  margin-left: 17px;
  fill: #2D3440;
}

.user-navigation-link-cart .user-navigation-icon {
  margin-left: 16px;
  fill: #2D3440;
}

.user-navigation-link-search .user-navigation-icon {
  margin-left: 8px;
  fill: #2D3440;
}

/*popover-search*/
.popover-search {
  position: absolute;
  top: 40px;
  right: 15px;
  z-index: 1;
  display: none;
  width: 356px;
  height: 96px;
  background-color: #FCFCFC;
  border-radius: 4px;
  filter: drop-shadow(0px 8px 16px rgba(45, 52, 64, 0.12));
}

.popover-search-form {
  margin: 24px 16px;
}

.field.popover-search-input {
  box-sizing: border-box;
  width: 100%;
  padding-right: 40px;
}

.search-clear-button {
  position: absolute;
  top: 50%;
  right: 30px;
  display: block;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  background-color: transparent;
  background-image: url("../img/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  border: none;
  cursor: pointer;
}

.popover-search-input:focus + .search-clear-button {
  display: block;
  opacity: 0.4;
}

.popover-search-input:focus + .search-clear-button:hover {
  display: block;
  opacity: 1;
}

.popover-search:hover,
.popover-search:active,
.popover-search:focus-within,
.popover-search:focus-visible {
  display: block;
  outline: none;
}

.user-navigation-link-search:hover ~ .popover-search {
  display: block;
}

/*popover-login*/
.popover-login {
  position: absolute;
  top: 40px;
  right: 14px;
  z-index: 2;
  display: none;
  min-width: 420px;
  min-height: 350px;
  background-color: #FCFCFC;
  border-radius: 4px;
  filter: drop-shadow(0px 15px 40px rgba(45, 52, 64, 0.12));
}

.popover-login-title {
  margin: 49px 48px 31px 48px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #2D3440;
}

.popover-login-form {
  margin: 0 48px;
}

.field.popover-login-input-email,
.field.popover-login-input-password {
  box-sizing: border-box;
  width: 100%;
}

.popover-login-input-password {
  padding-top: 13px;
  padding-bottom: 15px;
  padding-left: 11px;
}

.login-button-links-wrapper {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: auto auto;
  column-gap: 19px;
  margin-top: 28px;
  margin-bottom: 20px;
}

.login-link {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.forgot-password-link {
  margin-top: 4px;
}

.create-account-link {
  margin-top: 0;
}

.login-button {
  grid-row: 1 / 3;
  margin-left: -4px;
}

.user-navigation-link-login:hover ~ .popover-login,
.user-navigation-link-login:focus-within ~ .popover-login {
  display: block;
}

.popover-login:hover,
.popover-login:active,
.popover-login:focus-within,
.popover-login:focus-visible {
  display: block;
  outline: none;
}

/*popover-cart-empty*/
.popover-empty-cart {
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 2;
  display: none;
  width: 288px;
  background-color: #FCFCFC;
  border-radius: 4px;
  filter: drop-shadow(0px 15px 40px rgba(45, 52, 64, 0.12));
}

.user-navigation-link-cart:hover ~ .popover-empty-cart {
  display: block;
}

.popover-empty-cart:hover,
.popover-empty-cart:active,
.popover-empty-cart:focus,
.popover-empty-cart:focus-within {
  display: block;
}

.empty-cart-title {
  margin: 49px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}

/*popover-cart-with-items*/
.popover-items-cart {
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 2;
  display: none;
  width: 441px;
  background-color: #FCFCFC;
  border-radius: 4px;
  filter: drop-shadow(0px 15px 40px rgba(45, 52, 64, 0.12));
}

.popover-items-cart-content {
  margin-top: 54px;
  margin-right: 48px;
  margin-left: 48px;
}

.popover-items-cart-title {
  margin: 0 0 36px;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
}

.popover-items-cart-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.popover-items-cart-product {
  position: relative;
  display: grid;
  grid-template-columns: 48px 16px 164px 103px 16px;
  grid-template-rows: auto auto;
  padding: 0;
}

.popover-items-cart-list .popover-items-cart-product:not(:last-child) {
  margin: 0 0 24px 0;
}

.popover-items-cart-list .popover-items-cart-product:last-child {
  margin: 0 0 64px 0;
}

.popover-items-cart-img {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  align-self: center;
  border-radius: 50%;
}

.popover-items-cart-product-link {
  grid-column: 3 / 4;
  color: #2D3440;
  text-decoration: none;
}

.popover-items-cart-product-title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.popover-items-cart-product-quantity {
  grid-column: 3 / 4;
  font-size: 14px;
  line-height: 20px;
  color: #B9B9B9;
}

.popover-items-cart-product-price {
  grid-column: 4 / 5;
  grid-row: 1 / 3;
  align-self: center;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.popover-items-cart-remove-button {
  grid-column: 5 / 6;
  grid-row: 1 / 3;
  align-self: center;
  width: 16px;
  height: 16px;
  background-color: transparent;
  background-image: url("../img/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.popover-order-cart-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 48px;
}

.popover-order-cart-wrapper::before {
  content: "";
  position: absolute;
  top: -32px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #E7E7E7;
}

.total-price {
  margin-right: 3px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.user-navigation-link-cart:hover ~ .popover-items-cart,
.user-navigation-link-cart:focus-within ~ .popover-items-cart,
.user-navigation-link-cart:focus-visible ~ .popover-items-cart {
  display: block;
  outline: none;
}

.popover-items-cart:hover {
  display: block;
}

/*slider*/
.main-slider {
  position: relative;
  width: 1170px;
  margin: 0 auto;
}

.active-slide {
  display: block;
}

.hide-slide {
  display: none;
}

.slider {
  position: relative;
}

.slider-controls-wrapper {
  position: absolute;
  top: 255px;
  left: 539px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 356px;
}

.slider-image-list {
  position: absolute;
  top: 21px;
  left: 561px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 615px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

.slider-image-next-mini {
  background: transparent;
  border: none;
}

.slider-image-next:hover {
  cursor: pointer;
  transform: translate(0, -2px);
}

.slider-image-list li:nth-child(2) {
  margin-top: 8px;
  margin-left: 20px;
}

.slider-image-list li:last-child {
  margin-top: 8px;
  margin-left: 0;
}

.slider-description {
  padding-top: 136px;
  padding-left: 70px;
  width: 470px;
  min-height: 394px;
}

.slider-button {
  display: inline-block;
  width: 38px;
  height: 38px;
  margin: 3px;
  background-color: rgba(252, 252, 252, 0.3);
  background-image: url("../img/slider-button.svg");
  background-repeat: no-repeat;
  border: none;
  border-radius: 50%;
}

.slider-controls-wrapper button:nth-child(1) {
  transform: rotate(180deg);
}

.slider-button:hover {
  background-image: url("../img/slider-button-hover.svg");
  cursor: pointer;
}

.slider-button:focus-visible {
  background-image: url("../img/slider-button-focus.svg");
}

.slider-button:disabled {
  background-image: url("../img/slider-button-disabled.svg");
}

.slider-bottom {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto 81px;
}

.slider-pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-pagination-item {
  margin-right: 8px;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  background-color: rgba(252, 252, 252, 0.3);
  border: none;
  border-radius: 50%;
}

.slider-pagination-button:hover {
  box-shadow: inset 0 0 0 1px rgba(252, 252, 252, 1);
  cursor: pointer;
}

.slider-pagination-button:focus-visible {
  box-shadow: inset 0 0 0 1px rgba(45, 52, 64, 1);
  outline: none;
}

.slider-pagination-button.slider-pagination-button-current {
  background: #FCFCFC;
  opacity: 1.0;
}

.slider-social-list {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-social-link {
  margin-left: 16px;
}

.slider-description-title {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
}

.slider-description-text {
  width: 414px;
  padding-top: 7px;
  font-size: 18px;
  line-height: 24px;
}

.slider-link-button {
  display: inline-block;
  margin-top: 29px;
}

/*promo-banners-main*/
.promo-container {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto 80px;
}

.promo-title {
  width: 443px;
  margin: 0 auto 55px;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
}

.promo-banner {
  display: flex;
  flex-direction: column;
  width: 570px;
  min-height: 268px;
  background-color: #FF7799;
  border-radius: 16px;
}

.promo-banner-title {
  width: 321px;
  margin: 0;
  padding-top: 41px;
  padding-left: 40px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.promo-banner-text {
  width: 321px;
  margin: 0;
  padding-top: 15px;
  padding-left: 40px;
}

.promo-offer-link-button {
  align-self: flex-start;
  margin-top: 32px;
  margin-bottom: 40px;
  margin-left: 40px;
}

.promo a {
  color: #2D3440;
  text-decoration: none;
}

.promo-left {
  background-image: url("../img/raspberries-banner.png");
  background-repeat: no-repeat;
  background-position: top 28px right 15px;
}

.promo-right {
  background-image: url("../img/marshmallow-banner.png");
  background-repeat: no-repeat;
  background-position: top 19px right 7px;
}

/*item-list*/
.popular,
.catalog {
  width: 1170px;
  margin: 0 auto;
}

.popular-list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  column-gap: 30px;
  margin-bottom: 80px;
  padding: 0;
  list-style-type: none;
}

.catalog-product-container {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  column-gap: 30px;
  row-gap: 91px;
  margin: 0 0 16px 0;
  padding: 0;
}

/*item-cards*/
.popular-title {
  width: 527px;
  margin: 0 auto 107px;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
}

.popular-item-card,
.catalog-product-card {
  position: relative;
  display: grid;
  grid-template-columns: 40px 190px 40px;
  grid-template-rows: 118px min-content min-content auto;
  width: 270px;
  background-color: #FCFCFC;
  border-radius: 8px;
}

.catalog-product-card li {
  margin: 0;
  padding: 0;
}

.popular-item-image,
.catalog-product-img {
  position: absolute;
  top: -51px;
  left: 51px;
  display: block;
  border-radius: 50%;
  filter: drop-shadow(0px 4px 12px rgba(45, 52, 64, 0.1));
}

.popular-item-cart-link,
.catalog-product-link {
  grid-column: 1 / -1;
  justify-self: center;
  z-index: 1;
}

.popular-item-cart-button,
.catalog-product-cart {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
}

.cart-item-icon {
  position: relative;
  z-index: 1;
  padding: 8px;
  fill: #FCFCFC;
}

.cart-item-icon:hover {
  fill: #2D3440;
}

.cart-item-icon:focus-visible {
  fill: #FCFCFC;
  outline: none;
}

.popular-item-cart-button,
.catalog-product-cart {
  background-color: #FF2F64;
  border-radius: 50%;
}

.popular-item-cart-button:hover,
.catalog-product-cart:hover {
  background-color: #FCFCFC;
  border-radius: 26px;
  box-shadow: inset 0 0 0 2px #FF2F64;
}

.popular-item-cart-button:focus-visible,
.catalog-product-cart:focus-visible {
  background-color: #FF2F64;
  border-radius: 26px;
  box-shadow: inset 0 0 0 2px #2D3440;
  outline: none;
}

.popular-item-cart-button:disabled,
.catalog-product-cart:disabled {
  background-color: #B9B9B9;
  border-radius: 26px;
}

.popular-item-title-link,
.catalog-product-title-link {
  z-index: 1;
  grid-column: 2 / 3;
  margin-top: 15px;
  margin-bottom: 8px;
  color: #2D3440;
  text-decoration: none;
}

.popular-item-description,
.catalog-product-description {
  z-index: 1;
  grid-column: 2 / 3;
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
  color: #565C66;
}

.popular-price-cart-container,
.product-price-cart-container {
  grid-column: 2 / 3;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 24px;
}

.popular-item-title,
.catalog-product-title {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.popular-item-price,
.catalog-product-price {
  align-self: flex-start;
  margin-top: 4px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  word-spacing: 3px;
}

.popular-item a,
.catalog-product-card a {
  color: #2D3440;
  text-decoration: none;
}

/*advantage*/
.advantage {
  position: relative;
  margin: 0 auto 80px;
  padding: 24px;
  background: #E0FFFF url("../img/wafer-bg.png") repeat;
  border-radius: 16px;
}

.advantage-wrapper {
  background-color: #FCFCFC;
  border-radius: 16px;
}

.advantage-title {
  margin: 0;
  padding: 57px 64px 55px 63px;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  text-align: center;
}

.advantage-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantage-description {
  margin: 0;
  padding: 0;
  color: #565C66;
}

.advantage-item {
  position: relative;
  width: 442px;
}

.advantage-item:nth-child(odd) {
  margin-bottom: 40px;
  margin-left: 104px;
}

.advantage-item:nth-child(even) {
  margin-bottom: 40px;
  margin-left: 94px;
}

.advantage-list .advantage-item:last-child {
  margin-bottom: 56px;
}

.advantage-item:nth-child(1)::before {
  content: url("../img/ico-icecream.svg");
  position: absolute;
  top: 0;
  left: -64px;
}

.advantage-item:nth-child(2)::before {
  content: url("../img/ico-cow.svg");
  position: absolute;
  top: 0;
  left: -63px;
}

.advantage-item:nth-child(3)::before {
  content: url("../img/ico-leaf.svg");
  position: absolute;
  top: 0;
  left: -64px;
}

.advantage-item:nth-child(4)::before {
  content: url("../img/ico-thermometer.svg");
  position: absolute;
  top: 0;
  left: -64px;
}

/*blog*/
.blog {
  width: 570px;
  min-height: 220px;
  background: #FFFFFF url("../img/ice-cream-in-cup.jpg") no-repeat;
  border-radius: 16px;
}

.blog-new {
  width: 303px;
  margin-top: 33px;
  margin-bottom: 13px;
  margin-left: 32px;
  line-height: 20px;
  color: #565C66;
}

.blog-item-link {
  display: block;
  width: 303px;
  margin-top: 12px;
  margin-left: 32px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #2D3440;
  text-decoration: none;
}

/*subscribe*/
.subscribe {
  box-sizing: border-box;
  width: 570px;
  padding: 6px;
  background: #ECECEC url("../img/postal-background.png") repeat;
  border-radius: 16px;
}

.subscribe-form {
  background-color: #FCFCFC;
  border-radius: 16px;
}

.subscribe-description {
  margin: 0;
  padding: 26px 26px 40px;
  color: #565C66;
}

.subscribe-input-wrapper {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 26px;
  padding-bottom: 24px;
}

.button-send-subscribe {
  margin-left: 21px;
}

.subscribe-form input {
  flex-grow: 1;
  margin: auto 0;
}

.blog-subscribe-container {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto 76px;
}

/*order-delivery*/
.order-delivery {
  display: flex;
  align-items: flex-start;
  margin-bottom: 80px;
  background: #ECECEC url("../img/ice-cream-and-leaf.jpg") no-repeat;
  border-radius: 16px;
}

.delivery {
  display: inline-block;
  width: 371px;
  margin-top: 168px;
  margin-left: 100px;
}

.delivery-title {
  width: 356px;
  margin: 0;
  padding-bottom: 7px;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
}

.delivery-description {
  width: 371px;
  color: #565C66;
}

.order {
  width: 500px;
  margin-top: 64px;
  margin-bottom: 64px;
  margin-left: 135px;
  background-color: #FCFCFC;
  border-radius: 8px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
}

.order-description {
  display: inline-block;
  width: 380px;
  margin: 40px 80px 16px 40px;
  color: #565C66;
}

.order-form {
  display: grid;
  grid-template-columns: 117px 287px;
  column-gap: 16px;
  margin-left: 40px;
}

.order-form-field {
  display: flex;
  flex-direction: column;
}

.order-form-address {
  grid-column: 1 / -1;
  margin-top: 4px;
}

.order-form-phone {
  margin-left: 0;
}

.form-label-icon {
  position: relative;
  padding-right: 16px;
}

.info {
  position: absolute;
  width: 14px;
  height: 14px;
  margin-top: 3px;
  margin-left: 5px;
  padding: 0;
  background-color: transparent;
  background-image: url("../img/ico-info.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  padding: 8px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: left;
  color: #565C66;
  background-color: #FFFFFF;
  border: 1px solid #B9B9B9;
  border-radius: 1px;
  box-shadow: 0 2px 12px rgba(173, 152, 143, 0.18);
  cursor: default;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 10px;
  left: -7px;
  width: 11px;
  height: 11px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #B9B9B9;
  border-left: 1px solid #B9B9B9;
  transform: rotate(45deg);
}

.date-tooltip {
  top: -9px;
  left: 24px;
  display: none;
  min-width: 150px;
}

.address-tooltip {
  top: -8px;
  left: 24px;
  display: none;
  min-width: 168px;
}

.form-label,
.order-form-phone-label {
  margin-bottom: 8px;
  line-height: 20px;
  font-weight: 700;
}

.button-send-order {
  grid-column: 1 / -1;
  justify-self: center;
  margin-top: 12px;
  margin-bottom: 38px;
}

/*main-contacts*/
.main-contacts {
  width: 1170px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 64px;
  background: #ECECEC url("../img/wafer-cup-holder.jpg") no-repeat;
  border-radius: 16px;
}

.contact-container {
  display: block;
  width: 343px;
  margin-left: 64px;
  padding-top: 40px;
  padding-bottom: 37px;
  background-color: #FCFCFC;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
}

.main-contacts-address-header {
  display: block;
  width: 179px;
  margin: 0 0 12px 0;
  padding-left: 40px;
  color: #565C66;
}

.main-contacts-address-text {
  display: block;
  width: 263px;
  margin-right: 40px;
  margin-bottom: 24px;
  margin-left: 40px;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.main-contacts-phone-header {
  display: block;
  width: 203px;
  margin: 0 100px 12px 40px;
  color: #565C66;
}

.main-contacts-phone-number {
  display: block;
  width: 225px;
  margin-left: 40px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #2D3440;
  text-decoration: none;
}

.main-contacts-worktime {
  display: block;
  width: 160px;
  margin-top: 0;
  margin-bottom: 29px;
  margin-left: 40px;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #565C66;
}

.feedback-link {
  display: inline-block;
  margin-left: 36px;
  text-decoration: none;
}

/*modal-feedback*/
.modal-feedback-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 52, 64, 0.3);
}

.modal-feedback-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  background-color: #FCFCFC;
  border-radius: 8px;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
}

.modal-feedback {
  width: 570px;
  min-height: 545px;
}

.modal-feedback-content {
  padding: 65px 64px 31px 64px;
}

.modal-feedback-close-button {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 84px;
  height: 82px;
  background-color: transparent;
  background-image: url("../img/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  border: none;
  cursor: pointer;
}

.modal-feedback-title {
  margin: 0 0 31px;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.modal-feedback-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
}

.modal-feedback-form .field-group {
  margin-top: 0;
  margin-bottom: 16px;
  padding-top: 0;
  padding-bottom: 0;
}

.modal-feedback-form .field-group:last-of-type {
  margin-bottom: 24px;
}

.modal-feedback-input {
  box-sizing: border-box;
  width: 100%;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  background-color: #FFFFFF;
  box-shadow: inset 0 0 0 1px #B9B9B9;
  resize: none;
}

.modal-feedback-input::placeholder {
  color: #B9B9B9;
}

.modal-feedback-button {
  align-self: flex-end;
  margin-right: -6px;
}

/*footer*/
.footer-container {
  display: flex;
  width: 1170px;
  min-height: 153px;
  margin: 0 auto;
}

.page-footer {
  margin: 0;
  padding: 0;
}

.footer-social {
  width: 104px;
  margin-top: 48px;
  margin-left: 4px;
}

.footer-social-link,
.slider-social-link {
  display: block;
  height: 24px;
  border-radius: 50%;
}

.footer-social-icon,
.slider-social-icon {
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.2);
  fill: #FCFCFC;
}

.footer-social-link:hover,
.slider-social-link:hover {
  background-color: #2D3440;
}

.footer-social-link:focus-visible,
.slider-social-link:focus-visible {
  background-color: #2D3440;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #2D3440;
  outline: none;
}

.footer-info {
  width: 356px;
  margin-top: 47px;
  margin-left: 299px;
}

.copyright {
  width: 193px;
  margin-top: 49px;
  margin-right: 14px;
  margin-left: auto;
}

.footer-info-list {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 7px;
  margin: 0;
  padding: 0;
  line-height: 20px;
  list-style: none;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 0 8px;
  list-style: none;
}

.footer-social-item {
  min-height: 24px;
  min-width: 24px;
  margin-right: 16px;
  margin-bottom: 5px;
  margin-left: 0;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-info-item {
  padding-left: 24px;
}

.footer-info-item .footer-info-link-producer {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  color: #2D3440;
}

.footer-info-link-producer::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -23px;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("../img/ico-heart.svg");
  background-repeat: no-repeat;
}

.footer-info-link {
  font-size: 14px;
  font-weight: 400;
  color: #2D3440;
  text-decoration: none;
}

.copyright-text {
  margin-top: 8px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.copyright-link {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #2D3440;
  text-decoration: none;
}

/*header-inner*/
.inner-header a {
  color: #2D3440;
  line-height: 20px;
}

/*breadcrumps*/
.breadcrumps-link {
  margin-right: 29px;
  font-size: 14px;
  font-weight: 700;
  color: #2D3440;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.breadcrumps-link.breadcrumps-link-current {
  text-decoration: none;
}

.breadcrumps {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 31px;
  margin-bottom: 17px;
  padding: 0;
  line-height: 20px;
  list-style-type: none;
}

.breadcrumps-item {
  position: relative;
}

.breadcrumps-item:not(:last-of-type)::after {
  content: "";
  position: absolute;
  top: 7px;
  right: 6px;
  display: block;
  width: 12px;
  height: 12px;
  background-image: url("../img/double-arrows.svg");
  background-repeat: no-repeat;
}

.inner-header-title {
  margin: 0 0 39px 0;
  padding: 0;
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
}

/*filter-sort*/
.sort-price-fat-wrapper {
  display: flex;
  flex-wrap: wrap;
  min-width: 807px;
}

.range {
  margin-right: 24px;
  padding: 8px 16px;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
}

.dash {
  padding-left: 6px;
}

.range-scale {
  position: relative;
  width: 164px;
  height: 2px;
  margin-top: 9px;
  margin-bottom: 10px;
  background-color: rgba(86, 92, 102, 0.3);
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: rgba(86, 92, 102, 1);
}

.range-toggle {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #FCFCFC;
  border: none;
  border-radius: 50%;
  box-shadow: inset 0 0 0 6px #2D3440;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #2D3440;
  box-shadow: inset 0 0 0 6px #FCFCFC;
}

.range-toggle:active {
  box-shadow: inset 0 0 0 8px #2D3440;
}

.range-toggle:focus-visible {
  background-color: #2D3440;
  box-shadow: inset 0 0 0 6px #FCFCFC,
  0 0 0 2px #2D3440;
  outline: none;
}

.toggle-min {
  top: -7px;
  left: -8px;
}

.toggle-max {
  top: -7px;
  right: -8px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
}

.range-input {
  width: 30px;
  padding: 0 2px 0 1px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
}

/*noinspection CssInvalidPropertyValue*/
.range-input {
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter {
  width: 100%;
  margin-bottom: 99px;
}

.catalog-filter-title {
  display: flex;
  margin-right: 3px;
  margin-bottom: 8px;
  margin-left: 14px;
  font-size: 14px;
  line-height: 20px;
}

.sorting {
  box-sizing: border-box;
  margin: 0 24px 0 0;
  padding: 8px 63px 8px 16px;
  -moz-padding-end: 58px;
  -moz-padding-start: 15px;
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  background-color: rgba(252, 252, 252, 0.3);
  background-image: url("../img/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 15px top 16px;
  border: none;
  border-radius: 20px;
  appearance: none;
  cursor: pointer;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  border: none;
}

/*radio-buttons*/
.catalog-filter-fat-item {
  font-size: 14px;
  line-height: 20px;
}

.catalog-filter-fat-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 8px 16px;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
  list-style-type: none;
}

.catalog-filter-fat-list:focus-within {
  box-shadow: inset 0 0 0 1px #2D3440;
}

.input-radio-value {
  margin-right: 17px;
  margin-left: 0;
}

.catalog-filter-fat-item:last-child .input-radio-value {
  margin-right: 0;
}

.radio {
  margin-right: 8px;
}

.radio-on {
  display: none;
}

.radio-off {
  fill: #2D3440;
}

.catalog-filter-input-radio:hover ~ .radio-off {
  fill: #FFFFFF;
}

.catalog-filter-input-radio[type="radio"]:checked ~ .radio-on {
  display: block;
  fill: #2D3440;
}

.catalog-filter-input-radio[type="radio"]:checked ~ .radio-off {
  display: none;
}

.catalog-filter-input-radio[type="radio"]:checked:hover ~ .radio-on {
  display: block;
  fill: #FFFFFF;
}

.catalog-filter-input-radio[type="radio"]:disabled ~ .radio,
.catalog-filter-input-radio[type="radio"]:disabled:hover ~ .radio {
  fill: #2D3440;
  opacity: 0.4;
}

.sort-fill-button-wrapper {
  display: flex;
  align-items: center;
  min-width: 807px;
  margin-top: 15px;
}

.catalog-filter-filler-item {
  font-size: 14px;
  line-height: 20px;
}

.catalog-filter-filler-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 23px 0 0;
  padding: 8px 16px;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
  list-style-type: none;
}

.catalog-filter-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/*filler checkbox*/
.check {
  margin-right: 8px;
}

.input-checkbox-value {
  margin-right: 17px;
}

.catalog-filter-filler-item:last-child .input-checkbox-value {
  margin-right: 0;
}

.catalog-filter-filler-item:nth-child(2) .input-checkbox-value {
  margin-right: 25px;
}

.check-on {
  display: none;
}

.check-off {
  fill: #2D3440;
}

.catalog-filter-input-checkbox:hover ~ .check {
  fill: #FFFFFF;
}

.catalog-filter-input-checkbox:checked ~ .check-on {
  display: block;
  fill: #2D3440;
}

.catalog-filter-input-checkbox:checked ~ .check-off {
  display: none;
}

.catalog-filter-input-checkbox:checked:hover ~ .check-on {
  display: block;
  fill: #FFFFFF;
}

.catalog-filter-input-checkbox:disabled ~ .check,
.catalog-filter-input-checkbox:disabled:hover ~ .check {
  opacity: 0.4;
  fill: #2D3440;
}

.catalog-filter-input-checkbox:focus-visible ~ .check {
  box-shadow: 0 0 0 2px #2D3440;
  border-radius: 3px;
}

.button-filter {
  margin-top: 28px;
  margin-left: 1px;
  padding: 8px 54px;
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  background: rgba(252, 252, 252, 0.3);
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 0 2px #FCFCFC;
  cursor: pointer;
}

.button-filter:hover {
  background: #FCFCFC;
  box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.3);
}

.button-filter:focus {
  box-shadow: 0 0 0 2px #2D3440;
}

.show-more-pagination {
  position: relative;
  display: flex;
  width: 1170px;
  margin: 0 auto 40px;
}

.show-more-pagination::after {
  content: "";
  position: absolute;
  bottom: -40px;
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(252, 252, 252, 0.3);
}

.main-button.show-more-button {
  margin: 41px 0 41px 494px;
  padding: 12px 33px;
}

.catalog-pagination-item {
  margin-left: 1px;
  padding: 0;
  list-style: none;
}

.catalog-pagination-list li:first-child {
  margin-right: 10px;
}

.catalog-pagination-list li:last-child {
  margin-right: -4px;
  margin-left: 12px;
}

.catalog-pagination-list li:nth-child(3) {
  margin-left: 0;
}

.catalog-pagination-list {
  display: flex;
  align-self: center;
  margin-top: 17px;
  margin-left: auto;
  list-style-type: none;
}

.catalog-pagination-item a {
  font-size: 16px;
  color: #2D3440;
  text-decoration: none;
}

.catalog-pagination-link {
  padding: 2px 8px;
  line-height: 20px;
}

.catalog-pagination-link-current {
  padding: 2px 8px;
  background: #FCFCFC;
  border-radius: 50%;
}

.catalog-pagination-link:hover {
  background-color: rgba(252, 252, 252, 0.4);
  border-radius: 50%;
}

.catalog-pagination-link-prev {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-top: 0;
  margin-bottom: -4px;
  padding: 3px 3px;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
  transform: rotate(180deg);
}

.catalog-pagination-link-next {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-top: 0;
  margin-bottom: -4px;
  padding: 3px 3px;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
}
